
.main-header{
  font-family: 'Montserrat', sans-serif;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.css-1ygcj2i-MuiTableCell-root {
  
  font-weight: 800 !important;
  
}